.aboutus
  &-item
    margin-bottom: calc(35em/16)
    &:last-child
      margin-bottom: 0
  .bl-in
    text-align: center
  ul
    list-style: none
  li
    margin-bottom: calc(25em/16)
  .container
    position: relative
  .ball-ic.orange
    bottom: calc(-40em/16)
    left: 0
    transform: rotate(-40deg) scaleX(-1)
  .ball-ic.aqua
    top: calc(-40em/16)
    right: calc(120em/16)
    transform: rotate(45deg)