.aboutus
  &-item
    margin-bottom: calc(35em/16)
    &:last-child
      margin-bottom: 0
  .bl-in
    text-align: center
  ul
    list-style: none
  li
    margin-bottom: calc(25em/16)
  .container
    position: relative
  .orange
    bottom: -40px
    left: 15px
  .aqua
    top: -40px
    right: 40px