/* ANIMATION */

.ball
  display: inline-block
  transition: transform 0.5s ease
  z-index: 10
  animation: balloons 4s ease-in-out infinite
  transform-origin: bottom center



.orange .ball
  animation-duration: 2s
.aqua .ball
  animation-duration: 3.5s
.red .ball
  animation-duration: 3s
.violet .ball
  animation-duration: 4.5s
.yellow .ball
  animation-duration: 2.5s
.light-blue .ball
  animation-duration: 4s
.pink .ball
  animation-duration: 3s
.green .ball
  animation-duration: 3.5s
.blue .ball
  animation-duration: 2s


@keyframes balloons
  0%,100%
    transform: translateY(0) rotate(-4deg)

  50%
    transform: translateY(-25px) rotate(4deg)

.rotate
  animation: rotation 8s infinite linear

.shift
  animation: shift 2s infinite linear

@keyframes rotation
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)

@keyframes shift
  0%,100%
    transform: rotate(0deg)
  50%
    transform: rotate(30deg)


.n2-ss-widget
  background-color: #B4FFB7

.nextend-arrow
  position: absolute
  border-radius: 50%
  background-color: rgba(180, 255, 183, 1)
  width: calc( 30px + 50 * ((100vw - 320px) / 1600) ) !important
  height: calc( 30px + 50 * ((100vw - 320px) / 1600) ) !important
  top: 12% !important
  //+adaptiv-value("margin-top", 0, -13, 2)
  +phone-down
    background-color: rgba(180, 255, 183, 0.63)

  img
    padding: calc( 0px + 24 * ((100vw - 320px) / 1600) ) !important

.nextend-arrow-previous
  left: calc( 0px - 110 * ((100vw - 320px) / 1600) ) !important
  +tablet-down
    left: 0 !important

.nextend-arrow-next
  right: calc( 0px - 110 * ((100vw - 320px) / 1600) ) !important
  +tablet-down
    right: 0 !important

.slider-control
  position: absolute
  border-radius: 50%
  background-color: #B4FFB7
  background-image: url(../images/arrow-left.svg)
  background-repeat: no-repeat
  background-size: 40%
  background-position: center
  +adaptiv-value("width", 80, 40, 2)
  +adaptiv-value("height", 80, 40, 2)
  top: 50%
  margin-top: 0


@keyframes pulse
  0%
    transform: scale(1)

  70%
    transform: scale(1.1)

  100%
    transform: scale(1)

