.contacts
  .bl-in
    display: flex
    justify-content: space-between
    padding: 0
  &-map
    min-width: 615px
    background-color: #8D8D8D
  &-address
    margin-left: 10px
    display: flex
    flex-direction: column
    padding: 0 5px 35px 0
    .title
      text-align: left
      margin-bottom: 15px
    ul
      list-style: none
    li
      margin-bottom: 15px
