/* CONTACTS */

.contacts
  &.bl
    background-color: $menucolor
    color: $bg_body
    .container
      background-color: $menucolor
  .title
    color: $bg_body
  .container
    position: relative
  .bl-in
    background-color: transparent

  &-map
    +tablet-down
      order: 2
    +phone-down
      height: 165px!important
    &>ymaps
      width: 100% !important
      +phone-down
        height: 165px!important

  &-address
    +adaptiv-value("margin-top", 30, 5, 2)
    .title
      text-align: left
      +adaptiv-value("margin-bottom", 15, 5, 2)
    ul
      list-style: none
      display: flex
      +adaptiv-value("column-gap", 30, 0, 2)
      +laptop-down1
        flex-direction: column
    li
      width: 100%
      +adaptiv-value("margin-bottom", 15, 10, 2)

    address
      font-style: normal

  .ball-ic.aqua
    +adaptiv-value("bottom", -186, -74.4, 2)
    +adaptiv-value("right", 125, 50, 2)
    transform: rotate(35deg)
