@import "../general/variables"
.group
  .container
    position: relative
  &-wrap
    display: flex
    flex-wrap: wrap
  &-item
    width: 33%
    margin-bottom: calc(50em/16)
    .title
      margin-bottom: calc(15em/16)
  &-info
    list-style: none
    li
      margin-bottom: calc(15em/16)
      &:last-child
        margin-bottom: 0
  &-label
    font-family: $font_Comfortaa_Bold


  .bl-in
    padding-bottom: 0
    .title
      text-align: left
    &>.title
      margin-bottom: calc(30em/16)

  .ball-ic.pink
    bottom: calc(-70em/16)
    left: calc(20em/16)
    transform: scalex(-1)
  .ball-ic.green
    top: calc(20em/16)
    right: calc(165em/16)
    transform: rotate(15deg)


