@import "../general/variables"
.group
  &-wrap
    display: flex
    flex-wrap: wrap
  &-item
    width: 33%
    margin-bottom: 50px
    .title
      margin-bottom: 15px
  &-info
    list-style: none
    li
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0
  &-label
    font-family: $font_Comfortaa_Bold


  .bl-in
    .title
      text-align: left
    &>.title
      margin-bottom: 30px

