@import "../general/variables"
.menu
  background-color: $themecolor
  padding: calc(20em/16) calc(20em/16) 0 calc(60em/16)
  width: $nav_w
  height: 100%
  position: fixed
  top: 0
  left: 0
  ul
    display: flex
    flex-direction: column
    font-size: $fontSize_menu
    line-height: $lineHeight_menu
  li
    display: inline-block
    text-align: center
    margin-bottom: 1em
    a
      padding: calc(30em/20) calc(10em/20)
  .flag-ic
    left: -10px
    top: 40px


.logo
  background-color: yellow
  width: 100%
  border: 1px solid red
  height: 150px
  margin-bottom: calc(30em/16)