@import "../general/variables"
.bl-info
  .bl-in
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-right: calc(20em/16)
    height: calc(450em/16)
    overflow-y: scroll
  &-item
    display: flex
    width: 49%
    margin-bottom: calc(30em/16)
  &-descr
    display: flex
    flex-direction: column
  &-img
    min-width: 49%
    height: calc(250em/16)
    background-color: grey
    margin-right: calc(10em/16)
  &-detail
    align-self: flex-end
    color: $grey
  &-date
    color: $grey


.bl-info-descr
  .title
    text-align: left
    margin-bottom: calc(15em/18)
  .bl-info-date
    margin-bottom: calc(15em/16)
  .bl-info-text
    margin-bottom: calc(15em/16)

.bg-head
  position: relative
  padding-top: calc(270em/16)
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: calc(400em/16)
    z-index: -1
    background:
      color: $light-blue
      image: url("../images/bg_top.svg")
      repeat: no-repeat
      size: cover
  .ball-ic.red
    top: calc(100em/16)
    left: calc(195em/16)
    transform: scale(0.8) rotate(-30deg) scalex(-1)
  .ball-ic.green
    top: calc(5em/16)
    left: calc(480em/16)
    transform: scale(0.8) rotate(-30deg) scaleX(-1)
  .ball-ic.yellow
    top: calc(40em/16)
    right: calc(371em/16)
    transform: scale(0.8) rotate(30deg)
  .ball-ic.violet
    top: calc(80em/16)
    right: calc(75em/16)
    transform: scale(0.8) rotate(30deg)


