.rooms
  .container
    position: relative
  .ball-ic.red
    top: calc(-40em/16)
    left: calc(10em/16)
    transform: scaleX(-1)
  .ball-ic.violet
    bottom: calc(-35em/16)
    right: calc(70em/16)