@import "../general/variables"
.slider
  position: relative
  &-img
    width: 100%
    height: calc(350em/16)
    background-color: #8D8D8D
  &-text
    padding: calc(15em/16) calc(25em/16)
    display: flex
    justify-content: space-between

  &-control
    position: absolute
    border-radius: 50%
    background:
      color: $themecolor
      image: url("../images/arrow-left.svg")
      repeat: no-repeat
      size: 40%
      position: center
    width: $slider_ctr_w
    height: $slider_ctr_h
    top: 50%
    margin-top: calc(-#{$slider_ctr_w} / 2)


  &-control_prev
    left: calc(-100em/16)
  &-control_next
    right: calc(-100em/16)
    transform: rotate(-180deg)
  &-indic
    color: #FFFFFF
    align-self: center

  .title
    text-align: left
    margin-bottom: calc(15em/16)

.bl-slider
  .bl-in
    padding: 0



