/* GENERAL */
*
  box-sizing: border-box
  &:focus, &:active
    outline: none !important

*
  &:focus, &:active
    outline: none !important
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  font:
    family: $ff_ComfortaaRegular
    weight: $fw_body
  line-height: $lh_body
  +adaptiv-value("font-size", $fs_body, $fs_body_mob, 2)
  color: $fc_body
  margin: 0
  padding: 0
  height: 100vh
  background-color: $bg_body


a
  display: inline-block
  text-decoration: none
  color: inherit
  &:hover, &:active
    text-decoration: none
    color: inherit

h1, h2, h3, h4, h5, p, ul, ol
  margin: 0
  padding: 0

h1
  +adaptiv-value("font-size", $fs_h1, $fs_h1_mob, 2)
  line-height: $lh_h1
  font-weight: $fw_h1
  &.title
    color: $c_h1
    text-align: right
    +tablet-down
      text-align: center
  &+.subtitle
    color: $blue1
    text-align: right
    +adaptiv-value("font-size", 50, 25, 2)
    line-height: 1
    font-family: $ff_Caveat-Regular
    margin-top: -5px
    +tablet-down
      margin-top: 0
      text-align: center


h2
  +adaptiv-value("font-size", $fs_h2, $fs_h2_mob, 2)
  line-height: $lh_h2
  font-weight: $fw_h2
  &.title
    color: $menucolor

h3
  +adaptiv-value("font-size", $fs_h3, $fs_h3_mob, 2)
  line-height: $lh_h3
  font-weight: $fw_h3
  &.title
    font-family: $ff_ComfortaaRegular

h4
  +adaptiv-value("font-size", $fs_body, $fs_body_mob, 2)
  line-height: $lh_body
  font-weight: $fw_body
  &.title
    font-family: $ff_ComfortaaRegular

.title
  color: $fc_body
  font-family: $ff_ComfortaaBold
  text-align: center

.bl
  width: calc( calc(100vw - 250px) - calc(#{$w_menu} - #{$w_menu_mob}) * (calc(100vw - 320px) / 1600) )
  //+adaptiv-value("width", 1670, 60, 2)
  +adaptiv-value("margin-left", $w_menu, $w_menu_mob, 2)
  +adaptiv-value("margin-top", 50, 20, 2)
  //+adaptiv-value("padding-top", 30, 15, 2)

  +phone-down
    width: 100%
    margin-left: 0

  &-sm
    .bl-in
      width: $w_container
      background-color: $themecolor
      margin: 0 auto
      //padding: calc(35em/16) calc(50em/16)
      //+adaptiv-value("padding-top", 35, 10, 2)
      //+adaptiv-value("padding-bottom", 35, 10, 2)
      //+adaptiv-value("padding-left", 50, 10, 2)
      //+adaptiv-value("padding-right", 50, 10, 2)
      //+laptop-down
        width: 70%
      +tablet-down
        width: $w_container_mob
      +phone-down
        width: 100%

    &.feedback
      .bl-in
        +phone-down
          padding-left: 0
          padding-right: 0

    //&.aboutus, &.group
      .container
        +phone-down
          padding: 0
      h2.title
        +phone-down
          background-color: $themecolor
          padding-bottom: 0 !important
          padding-top: 10px

  &-accent
    .container
      background-color: $themecolor
      +adaptiv-value("padding-bottom", 50, 10, 2)
      +adaptiv-value("padding-top", 30, 10, 2)
      +tablet-down
        padding-left: 10px
        padding-right: 10px
      +phone-down
        margin-left: 0px
        margin-right: 0px

    .bl-in
      padding: 0

  &-in.scrolled
    +phone-down
      margin-right: -10px

  h2.title
    +adaptiv-value("padding-bottom", 30, 10, 2)

  &.rooms
    h2.title
      +phone-down
        padding-bottom: 5px


.container
  +adaptiv-value("margin-left", 20, 10, 2)
  +adaptiv-value("margin-right", 60, 10, 2)


.ball-ic
  +adaptiv-value("width", 240, 45, 2)
  +adaptiv-value("height", 330, 75, 2)
  position: absolute
  pointer-events: none
  +tablet-down
    display: none
  +phone-down
    display: none

  .ball
    width: 100%
    height: 100%

.orange .ball
  fill: $orange
.aqua .ball
  fill: $aqua
.red .ball
  fill: $red
.violet .ball
  fill: $violet
.yellow .ball
  fill: $yellow
.light-blue .ball
  fill: $light-blue
.pink .ball
  fill: $pink1
.green .ball
  fill: $green
.blue .ball
  fill: $blue

.flag-wrap
  display: none
  .red
    background-color: $red
  .orange
    background-color: $orange
  .yellow
    background-color: $yellow
  .light-green
    background-color: $lightgreen
  .white
    background-color: $white
  .blue
    background-color: $blue
  .violet
    background-color: $violet
  .aqua
    background-color: $aqua



.flag
  position: absolute
  fill: none
  &-left
    width: calc(459em/16)
    height: calc(177em/16)

  &-right
    width: calc(747em/16)
    height: calc(144em/16)

.baby-icon-wrap
  display: flex
  flex-direction: column
  align-items: center
  width: calc(47em/16)
  +adaptiv-value("width", 47, 19, 2)
  position: fixed
  z-index: 1
  //+tablet-down
    display: none
  +phone-down
    display: none

  &-left
    left: 0
    //+adaptiv-value("left", 20, 5, 2)
    top: 1.85vh
  &-right
    +adaptiv-value("right", 10, 4, 2)
    top: 6.4815vh
  .orange
    fill: $orange
  .aqua
    fill: $aqua
  .red
    fill: $red
    transform: rotate(100deg)
  .violet
    fill: $violet
  .yellow
    fill: $yellow
    transform: rotate(100deg)
  .light-blue
    fill: $light-blue
    transform: rotate(-13deg)
  .pink
    fill: $pink
    transform: rotate(5deg)
  .pink1
    fill: $pink1
    transform: rotate(5deg)
  .green
    fill: $green
  .blue
    fill: $blue
    transform: rotate(40deg)
  .light-blue
    fill: $light-blue
  .white
    fill: $white
    transform: rotate(5deg)
  .light-green
    fill: $lightgreen
    transform: rotate(5deg)
  .darkGreen
    fill: $menucolor
  .vinous
    fill: $vinous
  .green1
    fill: $green1


.baby-icon
  +adaptiv-value("width", 40, 20, 2)
  +adaptiv-value("height", 40, 20, 2)
  margin-bottom: 3.7vh
  &:nth-child(2n)
    +adaptiv-value("margin-left", 20, 5, 2)

.bl .hide-text-wrap
  .btn--more
    position: static
    bottom: unset
    left: unset
    height: unset
    background-image: none
    margin: 0 auto

