@import "variables"
*
  &:focus, &:active
    outline: none !important
  box-sizing: border-box

html
  //overflow: hidden
  font-size: $fontSize_body

body
  font:
    family: $font_Comfortaa_Regular
    size: 1rem
  color: $main_font
  line-height: $lineHeight_body
  margin: 0
  padding: 0
  height: 100vh
  background-color: $main_bg


a
  display: inline-block
  text-decoration: none
  color: inherit
  &:hover, &:active
    text-decoration: none
    color: inherit

h1, h2, h3, h4, h5, p, ul, ol
  margin: 0
  padding: 0

h2
  font-size: $fontSize_h2
  line-height: $lineHeight_h2


h3
  font-size: $fontSize_h3
  line-height: $lineHeight_h3


.title
  color: $main_font
  font-family: $font_Comfortaa_Bold
  text-align: center

.bl
  width: calc(100% - #{$nav_w})
  margin-left: #{$nav_w}
  margin-bottom: calc(50em/16)
  &-sm
    .bl-in
      width: 57%
      background-color: $themecolor
      margin: 0 auto
      padding: calc(35em/16) calc(50em/16)
  h2.title
    margin-bottom: calc(8em/16)

.container
  width: 100%
  padding: 0 calc(60em/16) 0 calc(35em/16)
  //background-color: #EDEDED

.icon
  width: 240px
  height: 330px
  position: absolute

.orange
  fill: #FF710B
.aqua
  fill: #07EEFD
.red
  fill: #F90505
.violet
  fill: #B10BFF
.yellow
  fill: #FFF506
.light-blue
  fill: #29AEFA
.pink
  fill: #FF05E6
.green
  fill: #07B719
.blue
  fill: #051EFF
