@import "variables"
@import "../mixins/mixins"
*
  &:focus, &:active
    outline: none !important
  box-sizing: border-box

html
  //overflow: hidden
  font-size: $fontSize_body

body
  font:
    family: $font_Comfortaa_Regular
    size: 1rem
  color: $main_font
  line-height: $lineHeight_body
  margin: 0
  padding: 0
  height: 100vh
  background-color: $main_bg
  +laptop-down1
    font-size: 11px


a
  display: inline-block
  text-decoration: none
  color: inherit
  &:hover, &:active
    text-decoration: none
    color: inherit

h1, h2, h3, h4, h5, p, ul, ol
  margin: 0
  padding: 0

h2
  font-size: $fontSize_h2
  line-height: $lineHeight_h2


h3
  font-size: $fontSize_h3
  line-height: $lineHeight_h3


.title
  color: $main_font
  font-family: $font_Comfortaa_Bold
  text-align: center

.bl
  width: calc(100% - #{$nav_w})
  margin-left: #{$nav_w}
  margin-bottom: calc(50em/16)
  &-sm
    .bl-in
      width: 57%
      background-color: $themecolor
      margin: 0 auto
      padding: calc(35em/16) calc(50em/16)
  h2.title
    margin-bottom: calc(8em/16)

.container
  width: 100%
  padding: 0 calc(60em/16) 0 calc(35em/16)
  //background-color: #EDEDED

.ball-ic
  width: calc(240em/16)
  height: calc(330em/16)
  position: absolute
  .ball
    width: 100%
    height: 100%

.orange .ball
  fill: $orange
.aqua .ball
  fill: $aqua
.red .ball
  fill: $red
.violet .ball
  fill: $violet
.yellow .ball
  fill: $yellow
.light-blue .ball
  fill: $light-blue
.pink .ball
  fill: #FF05E6
.green .ball
  fill: $green
.blue .ball
  fill: $blue

.flag-wrap
  .red
    background-color: $red
  .orange
    background-color: $orange
  .yellow
    background-color: $yellow
  .light-green
    background-color: $lightgreen
  .white
    background-color: $white
  .blue
    background-color: $blue
  .violet
    background-color: $violet
  .aqua
    background-color: $aqua



.flag
  position: absolute
  fill: none
  &-left
    width: calc(459em/16)
    height: calc(177em/16)

  &-right
    width: calc(747em/16)
    height: calc(144em/16)

.triangle-wrap
  display: flex
  flex-direction: column
  align-items: center
  width: calc(47em/16)
  position: fixed
  z-index: 1

  &-left
    left: 0px
    top: calc(40em/16)
  &-right
    top: calc(70em/16)
    right: calc(10em/16)
  .orange
    fill: $orange
  .aqua
    fill: $aqua
  .red
    fill: $red
    transform: rotate(100deg)
  .violet
    fill: $violet
  .yellow
    fill: $yellow
    transform: rotate(100deg)
  .light-blue
    fill: $light-blue
    transform: rotate(-13deg)
  .pink
    fill: #FF05E6
    transform: rotate(5deg)
  .green
    fill: $green
  .blue
    fill: $blue
    transform: rotate(40deg)
  .light-blue
    fill: $light-blue
  .white
    fill: $white
    transform: rotate(5deg)
  .light-green
    fill: $lightgreen
    transform: rotate(5deg)


.triangle
  width: calc(47em/16)
  height: calc(54em/16)
  margin-bottom: calc(50em/16)


.scrolled
  overflow-y: auto

.scrolled::-webkit-scrollbar
  width: calc(15em/16)
  height: calc(20em/16)
  background-color: $themecolor
  border-radius: calc(20em/16)

.scrolled::-webkit-scrollbar-thumb
  background-color: $menucolor
  border-radius: calc(20em/16)


.scrolled
  scrollbar-color: $menucolor $themecolor
  scrollbar-width: thin