//general font size
$fontSize_body: 16px
$lineHeight_body: 1.18
$fw_body: 400

//general fonts
$font_Comfortaa_Regular: 'Comfortaa-Regular', Arial, sans-serif
$font_Comfortaa_Bold: 'Comfortaa-Bold', Arial, sans-serif

//general color
$main_bg: #FFFFFF
$main_font: red //#000000
$themecolor: #B4FFB7
$menucolor: #033E09
$picbg: #EDEDED
$error_bg: #FFF1F1
$error_font: #F90505
$grey: #8D8D8D
$blue: #29AEFA

//h1, h2
$fontSize_h2: calc(30em/16)
$lineHeight_h2: 1.115
$fw_h2: 700

$fontSize_h3: calc(18em/16)
$lineHeight_h3: 1.11
$fw_h3: 700

$fontSize_menu: calc(20em/16)
$lineHeight_menu: 1.11

$nav_w: calc(310em/16)